@import "./variables";

.main {
  overflow-x: hidden;
}

.carCare {
  background: url("../assets/car-care.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  @media (min-width: $mobileS) {
    padding: 2.1rem 1rem;
    flex-direction: column;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
    flex-direction: row;
  }

  @media (min-width: $laptop) {
    padding: 2rem 8rem;
  }

  p {
    color: $white;
    font-size: 18px;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1rem 1.5rem;
    background: $white;
    font-size: 1rem;
    font-weight: 500;
    color: #777;
    border-radius: 4px;
    margin-top: 1rem;

    &:hover {
      filter: brightness(0.9);
    }
  }
}
