@import "./variables";

.main {
  overflow-x: hidden;
}

.home {
  padding: 0 124px;
  background-image: url("../assets/home-bg.jpg");
  background-size: cover;
  background-position: top left;
  width: 100vw;
  height: 80vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 60%;

  h1 {
    font-size: 3.6rem;
    line-height: 4rem;
    color: $white;
    font-weight: 700;
  }

  p {
    color: #e0e0e0;
    margin: 10px 0;
    padding-bottom: 20px;
  }

  a {
    border: 1px solid $red;
    padding: 0.8rem 2.8rem;
    font-size: 0.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $white;
    transition: all 0.3s;

    &:hover {
      border: 1px solid $white;
      color: $red;
    }
  }
}

.about {
  width: 100vw;
  display: flex;
  padding: 70px 124px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: $ligth-grey;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transform: rotate(-90deg);

    h3 {
      font-size: 1rem;
      color: #757575;
    }

    p {
      color: $dark-grey;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 0.9rem;
    }

    &:first-child {
      margin-top: 50px;
    }

    &.active {
      background-color: $red;

      h3 {
        color: $white;
      }

      p {
        color: $white;
      }
    }
  }
}

.companyOverview {
  h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }

  main {
    width: 70%;
    margin-top: 1.3rem;

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.insulfilm {
  width: 100vw;
  padding-right: 324px;

  h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
  }

  p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }

  main {
    display: flex;
    margin-top: 1.3rem;
    gap: 2rem;
    padding-right: 124px;

    .image {
      width: 50rem;
      height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.sanitation {
  width: 100vw;
  padding-right: 324px;

  h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 0.6rem;
    font-size: 1rem;
  }

  main {
    display: flex;
    margin-top: 1.3rem;
    gap: 2rem;
    padding-right: 124px;

    .image {
      width: 50rem;
      height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.carCare {
  width: 100vw;
  background: url("../assets/car-care.jpg");
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 124px;

  p {
    color: $white;
    font-size: 18px;
    font-weight: 700;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 1rem 1.5rem;
    background: $white;
    font-size: 1rem;
    font-weight: 500;
    color: #777;
    border-radius: 4px;

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.services {
  width: 100vw;
  padding: 0 124px;
  text-align: center;

  .heading {
    max-width: 700px;
    margin: 70px auto;

    h2 {
      font-size: 30px;
      font-weight: 700;

      span {
        color: $red;
      }
    }

    p {
      margin-top: 1.2rem;
      color: #848484;
    }
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
  }
}

