@import "../../styles/variables";

.about {
  overflow-x: hidden;

  @media (min-width: $mobileS) {
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
  }

  @media (min-width: $laptop) {
    padding: 4rem 8rem;
  }
}

.companyOverview {
  width: 100%;
  overflow-x: hidden;
  @media (min-width: $laptop) {
    max-width: 80%;
  }

  h2 {
    color: #333;
    font-size: 30px;
    font-weight: 700;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }

  main {
    margin-top: 1.3rem;

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}
