@import "../../styles/variables";

.about {
  width: 100vw;
  display: flex;
  padding: 70px 124px;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  button {
    background-color: $ligth-grey;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    transform: rotate(-90deg);

    h3 {
      font-size: 1rem;
      color: #757575;
    }

    p {
      color: $dark-grey;
      font-size: 0.9rem;
      font-weight: 300;
      line-height: 0.9rem;
    }

    &:first-child {
      margin-top: 50px;
    }

    &.active {
      background-color: $red;

      h3 {
        color: $white;
      }

      p {
        color: $white;
      }
    }
  }
}

.companyOverview {
  overflow-x: hidden;

  h2 {
    color: #333;
    font-size: 30px;
    font-weight: 700;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }

  main {
    width: 70%;
    margin-top: 1.3rem;

    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.insulfilm {
  width: 100vw;
  padding-right: 324px;

  h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;
  }

  p {
    margin-top: 0.6rem;
    font-size: 0.9rem;
  }

  main {
    display: flex;
    margin-top: 1.3rem;
    gap: 2rem;
    padding-right: 124px;

    .image {
      width: 50rem;
      height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.sanitation {
  width: 100vw;
  padding-right: 324px;

  h2 {
    color: #333;
    font-size: 24px;
    font-weight: 700;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 0.6rem;
    font-size: 1rem;
  }

  main {
    display: flex;
    margin-top: 1.3rem;
    gap: 2rem;
    padding-right: 124px;

    .image {
      width: 50rem;
      height: 30rem;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1rem;
    }
  }
}

.cardContainer {
  display: flex;
  margin-top: 2rem;
  gap: 1.6rem;
}

.card {
  width: 180px;
  height: 200px;
  background: $white;
  display: flex;
  border: 1px solid #ddd;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  div {
    width: 80px;
    height: 80px;
    background: $red;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h4 {
    font-size: 24px;
    color: $red;
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 700;
  }

  p {
    color: #444;
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}
