@import "../../styles/variables";

.home {
  background-image: url("../../assets/bg01.jpg");
  background-size: cover;
  background-position: right;
  width: 100vw;
  height: 80vh;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  }

  @media (min-width: $mobileS) {
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
  }

  @media (min-width: $laptop) {
    padding: 2rem 8rem;
  }

  .text {
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    @media (min-width: $laptop) {
      width: 80%;
    }

    h1 {
      font-size: 3.6rem;
      line-height: 4rem;
      color: $white;
      font-weight: 700;

      @media (max-width: $mobileL) {
        font-size: 2.6rem;
        line-height: 3rem;
      }
    }

    p {
      color: #e0e0e0;
      margin: 2rem 0;
    }

    a {
      border: 1px solid $white;
      padding: 0.8rem 2.8rem;
      font-size: 0.8rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $white;
      transition: all 0.3s;

      &:hover {
        color: $red;
      }
    }
  }
}

.wppBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 1;
  box-shadow: 0px 3px 7px -4px rgba(231, 29, 53, 0.6);

  animation: animation 2s ease infinite;
}
@keyframes animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: translateY(1.1);
  }
}
