@import "../../styles/variables";

.footer {
  background-color: $dark-grey;
  display: flex;
  margin-top: 4rem;
  flex-direction: column !important;

  @media (min-width: $mobileS) {
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
    flex-direction: row !important;
    justify-content: space-between !important;
  }

  @media (min-width: $laptop) {
    padding: 4rem 8rem;
  }
}

.company {
  width: 276px;

  .logo {
    width: 100px;
    height: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: brightness(0);
      -webkit-filter: brightness(0);
}
  }

  p {
    color: #b0b0b0;
    font-size: 0.9rem;
    margin-top: 15px;
  }

  .socialMedia {
    display: flex;
    gap: 10px;
    transition: all 0.3s;

    a {
      padding: 0.7rem;
      border-radius: 4px;
      color: $white;
      border: 1px solid $grey;
      margin-top: 15px;
      text-decoration: none;

      &:hover {
        color: $red;
      }
    }
  }
}

.ourServices {
  width: 276px;

  h2 {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-top: 1rem;

    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 30%;
      height: 3px;
      background: $red;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    gap: 10px;

    a {
      color: #b0b0b0;
      transition: all 0.3s;
      position: relative;

      &:hover {
        color: $red;
      }

      span {
        display: flex;
        align-items: center;
        gap: 4px;

        p {
          font-size: 0.9rem;
        }
      }
    }
  }
}

.contact {
  width: 276px;

  h2 {
    color: $white;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    margin-top: 1rem;

    &::before {
      content: "";
      position: absolute;
      bottom: -20px;
      width: 30%;
      height: 3px;
      background: $red;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 52px;
    gap: 10px;

    li {
      color: #b0b0b0;
      transition: all 0.3s;
      position: relative;
      font-size: 0.9rem;

      span {
        display: flex;
        align-items: center;
        gap: 4px;

        p {
          font-size: 0.9rem;
          margin-top: 0.5srem;
        }
      }
    }
  }
}
