@import "../../styles/variables";

.header {
  width: 100%;
  height: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    padding: 0 120px;
  }
  @media (max-width: 768px) {
    padding: 0 1rem;
  }
}
.navigation {
  display: flex;
  font-size: 0.8rem;
  gap: 6rem;
  @media (max-width: 768px) {
    gap: 1rem;

    .openTime,
    .email {
      display: none;
    }
  }

  a {
    color: $grey;

    span {
      color: $red;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      gap: 5px;
      margin-bottom: 7px;
    }

    &:last-child {
      background-color: $red;
      border-radius: 4px;
      color: $white;
      padding: 0.5rem 1.5rem;

      span {
        color: $white;
      }
    }
  }
}

.logo {
  width: 100px;
  height: 70px;

  img {
    width: 100%;
    height: 100%;
  }
}
