@import "../../styles/variables";

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (min-width: $mobileS) {
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
  }

  @media (min-width: $laptop) {
    padding: 2rem 8rem;
  }

  .heading {
    max-width: 700px;
    text-align: center;
    margin-top: 4rem;

    h2 {
      font-size: 30px;
      font-weight: 700;

      span {
        color: $red;
      }
    }

    p {
      margin-top: 1.2rem;
      color: #848484;
    }
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
    margin-top: 4rem;

    @media (min-width: $mobileS) {
      grid-template-columns: 1fr;
    }

    @media (min-width: $tablet) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: $laptop) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
