@import "../../styles/variables";

.services {
  width: 100vw;
  padding: 0 124px;
  text-align: center;

  .heading {
    max-width: 700px;
    margin: 70px auto;

    h2 {
      font-size: 30px;
      font-weight: 700;

      span {
        color: $red;
      }
    }

    p {
      margin-top: 1.2rem;
      color: #848484;
    }
  }

  main {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
  }
}
