@import "../../styles/variables";

.navigation {
  width: 100%;
  height: 4.1rem;
  background-color: $dark-grey;
  display: flex;
  align-items: center;
  padding: 0 120px;
  position: sticky;
  top: 0;
  z-index: 99;

  @media (min-width: 768px) {
    padding: 0 120px;
  }
  @media (max-width: 768px) {
    padding: 0 1rem;
  }

  li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    height: 100%;

    a {
      color: $white;
      font-size: 0.9rem;
      font-weight: 700;
      text-transform: uppercase;
      transition: all 0.3s;
      gap: 0.4rem;
      position: relative;

      &:hover {
        color: $red;
      }
      &.active {
        color: $red;

        &::after {
          content: "";
          position: absolute;
          bottom: -20px;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $red;
        }
      }
    }

    svg {
      color: $grey;
    }
  }
}

