@import "../../styles/variables";

.section {
  display: flex;
  margin-top: 4rem;
  justify-content: space-between;
  overflow: hidden;

  @media (min-width: $mobileS) {
    flex-direction: column;
  }

  @media (min-width: $tablet) {
    flex-direction: row;
  }
}

.contact {
  background: $dark-grey;
  @media (min-width: $mobileS) {
    width: 100%;
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    width: 50%;
    padding: 2rem 4rem;
  }

  @media (min-width: $laptop) {
    padding: 4rem 8rem;
  }

  h2 {
    color: $white;
    font-size: 30px;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: $white;
  }

  form {
    width: 100%;
    margin-top: 1rem;

    strong {
      font-size: 1.2rem;
      color: $white;
    }

    .inputGroup {
      display: flex;
      gap: 10px;
    }

    input {
      width: 100%;
      padding: 1rem;
      margin-top: 1rem;
      font-size: 0.9rem;
      border: 1px solid $grey;
    }

    textarea {
      width: 100%;
      margin-top: 1rem;
      padding: 1rem;
      font-size: 0.9rem;
      border: 1px solid $grey;
    }
    button {
      width: 100%;
      padding: 1rem;
      background: $red;
      border: none;
      color: $white;
      margin-top: 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.customers {
  background: #f5f6f6;
  overflow-y: scroll;

  @media (min-width: $mobileS) {
    width: 100%;
    padding: 2.1rem 1rem;
  }

  @media (min-width: $mobileL) {
    padding: 2.1rem 2.1rem;
  }

  @media (min-width: $tablet) {
    padding: 2rem 4rem;
    width: 50%;
  }

  h2 {
    color: $dark-grey;
    font-size: 30px;

    span {
      color: $red;
    }
  }

  p {
    margin-top: 20px;
    font-size: 0.9rem;
    color: #444f44;
  }

  .comment {
    width: 100%;
    padding: 1rem;
    border: 2px solid $grey;
    margin-top: 24px;

    &:last-child {
      margin-bottom: 10px;
    }

    .customer {
      display: flex;
      align-items: flex-start;
      margin-bottom: 0.5rem;
      gap: 10px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
        object-fit: cover;
      }

      strong {
        font-size: 0.9rem;
        color: $dark-grey;
      }
      p {
        font-size: 0.8rem;
        color: $grey;
      }
    }

    p {
      margin: 0;
    }
  }
}
